django-heroku==0.3.1
gunicorn==19.7.1
psycopg2==2.7.4
whitenoise==3.3.1
PyJWT==2.4.0
Django==2.2.28
PyGithub==1.39
Jinja2==2.10
MarkupSafe==1.0
pip==21.1
pytz==2018.4
setuptools==39.0.1
wheel==0.31.0
dj-database-url==0.5.0
django-autocomplete-light
pygithub

