<!DOCTYPE html>
<html lang="en">
<head>
    <title> User Profile </title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"  href="{% static 'user/css/style.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'user/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'user/js/script.js' %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<div id="page">
    {% block skeleton %} {% endblock %}
    {% block body %} {% endblock %}
</div>


</html>
