{% extends "user/layout.html" %}
{% load static %}

{% block skeleton %}
    <div class="container" id="skeleton">
        <div class="container" id="sidebar">
            <img src="{% static 'user/images/gravatar.png' %}" class="img-rounded">
            <h3 class="text-center"> {{ user_name }} </h3>
        </div>
        <div class="container" id="nav-bar">
            <ul class="nav navbar-nav">
                <li class="nav-item nav-link active"><a href="{% url 'user:feed' user_name %}">Feed</a></li>
                <li class="nav-item nav-link"><a href="{% url 'user:timeline' user_name %}">Timeline</a></li>
                <li class="nav-item nav-link"><a href="{% url 'user:projects' user_name %}">Projects</a></li>
                <li class="nav-item nav-link"><a href="{% url 'user:mystory' user_name %}">My Story</a></li>
                <li class="nav-item nav-link"><a href="{% url 'user:following' user_name %}">Following</a></li>
                <li class="nav-item nav-link"><a href="{% url 'user:followers' user_name %}">Followers</a></li>
            </ul>
        </div>
    </div>

{% endblock %}


{% block content %} {% endblock %}
